.contact {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;

        padding-bottom: 64px;
        &__email,
        &__tel {display: none;
        }
    }

    @media screen and (min-width: 768px) {
        
        margin-left: auto;

        &__email,
        &__tel {
            margin-right: 10px;
            align-self: center;

            fill: currentColor;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }

}


.contact__item{
   
    &:last-child{
        @media screen and (max-width: 767px) {
        margin-bottom: 10px;}
    }
    &:first-child{
        @media screen and (max-width: 767px) {
        margin-bottom: 0px;}
    }
    @media screen and (max-width: 767px) {
        
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &:not(:last-child){
        @media screen and (min-width: 767px) {
        margin-bottom: 10px;
        }
    }
    
    @media screen and (min-width: 1200px) {
    &:not(:last-child) {
        margin-bottom: 0;    
        margin-right: 30px;
        }

    }
}



.contact__link {
    @include flexCenter(flex, start, center);
      
    color: $main-text-color;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 12px;

    @media screen and (max-width: 767px) {
        font-size: 34px;
        display: inline-block;
    }

    transition: color 250ms $cubik;

    &:hover, 
    &:focus{
        color: $btn-and-accent;
        fill: $btn-and-accent;
    }
    @media screen and (min-width: 1200px) {
        
        padding-top: 32px;
        padding-bottom: 32px;
        justify-content: center;}
        
 
    
}

.contact__link-small{
    @media screen and (max-width: 767px) {
        
        font-size: 24px;

    
        }
}

.contact__link--mobile{
    @media screen and (max-width: 767px) {
    color: $btn-and-accent;
    }
}