.footer-adres{
    @media screen and (min-width: 768px) {
        display: inline-block;
    }

}
.adres__card {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    
}

.adres__item {
    
    &:not(:last-child) {
            margin-bottom: 8px;
        }
    
    @media screen and (min-width: 1200px) {
    &:not(:last-child) {
        margin-bottom: 9px;
        }
    }
}

.adres {
    font-style: normal;
    display: block;
    margin: 0 auto;

    // width: 231px;
}

.adres__link {
    color: $footer-contact;
    text-decoration: none;
    transition: color 250ms $cubik;

    &:focus,
    &:hover {
        color: $btn-and-accent;
 }
}

.adres__text {
    color: $main-bg;
}