.footer-social {
    display: flex;
    justify-content: center;
}

.social-adres {
    margin-top: 12px;
    margin-left: 70px;
}

.social-network--pdl-null {
    margin-top: 0;
    padding: 0;
}

.social-adres__label
{
    color: $main-bg;
    line-height: 1.13;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-network__link--bgr-light {
    background: rgba(255, 255, 255, 0.1);
}

.social-network__icon--white {
    fill: $main-bg;
}