.footer-social {
    display: block;
    @media screen and (min-width: 1200px) {
    @include flexCenter(flex, space-around, baseline);
    }
}

.social-adres {
   
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
        padding: 0;
    }

    @media screen and (min-width: 1200px) {
    margin-left: 70px;
    }
}

.social-network--pdl-null {
    margin-top: 0;
    padding: 0;
}

.social-adres__label
{
    @extend %footer-title;

}

.social-network__link--bgr-light {
    background: rgba(255, 255, 255, 0.1);
}

.social-network__icon--white {
    fill: $main-bg;
}