.page-header__container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        width: 100%;
        justify-content: space-between; 
    }
    
}

.page-header {
    position: relative;
    border-bottom: 1px solid $heder-border;
}

.page-heder__nav-contact{
    
    @media screen and (max-width: 767px) {
        position: absolute;
        transform: translate( 0px, -100%);
        overflow: auto;
        top: 0;
        left: 0;

        &.is-open{
        display: flex;
        width: 100%;
        z-index: 100;
        flex-direction: column;
        position: absolute;
        transform: translate(0px, 0%);
        background-color: white;
        visibility: visible;
        padding: 48px 40px;
        margin-left: auto;
        margin-right: auto;
        transition: transform 500ms linear;
    }

}
    
    @media screen and (min-width: 768px) {
    margin-left: 88px;
    display: flex;
    align-items: center;
    flex-grow: 1;
      }

    @media screen and (min-width: 1200px) {
    margin-left: 93px;
    }
}