.feateres__cart{
    display: block;
    @extend %section;
    
    @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;     
    flex-wrap: wrap;
        }
}


.feateres__item {
    @media screen and (min-width: 768px) {
    
    width: calc((100% - 4*15px) / 2);
     margin: 15px;
    }

    // width: calc((100% - 90px) / 4);

    // &:not(:first-child) {
    //     margin-left: 30px;
    // }
}

.feateres__icon {
    display: block;
    width: 100%;
    padding: 25px 100px;
    margin-bottom: 30px;
    text-align: center;
    background-color: $btn-portfolio-bgr;
}

.feateres__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $h-color-text;
    margin-bottom: 10px;
}