.social{
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social__link{
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $btn-and-accent;
    
    &:hover,
    &:focus{
        color: $btn-hover-primery;
    }

}
.social__item{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:first-child{
        padding-left: 0px;
    }
}