.social{
    display: none;
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        max-width: 357px;
       
    
    }
    @media screen and (max-width: 450px) {
        flex-wrap: wrap;
        margin: -5px;
    }
}

.social__link{
display: block;
font-weight: 500;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0.02em;
color: $btn-and-accent;
    &:hover,
    &:focus{
        color: $btn-hover-primery;
    }

}
.social__item{
    padding-right: 10px;
    max-width: 100%;
    display: flex;
    &:not(:first-child){
        padding-left: 10px;
    }

    
    &:not(:last-child){
        &::after{
        content: ' ';;
        border: 1px solid rgba(33, 33, 33, 0.2);
        margin-left:  10px;
        }
    }

    &:nth-child(3){
        @media screen and (max-width: 450px) {
            padding: 0;
        }
    }

    @media screen and (max-width: 450px) {
        flex-basis: calc((100% - 4 * 5px) / 2);
        margin: 5px;
        
    }

    
}