.social{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 357px;
    
    @media screen and (max-width: 450px) {
        flex-wrap: wrap;
        margin: -5px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $btn-and-accent;
    
    &:hover,
    &:focus{
        color: $btn-hover-primery;
    }

}
.social__item{
    padding-left: 10px;
    padding-right: 10px;
    max-width: auto;
    display: flex;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:first-child{
        padding-left: 0px;
    }
    &:last-child{
        @media screen and (min-width: 451px) {
            
        
            padding-right: 0px;
            border-right: none;
        }   
    }
    
    @media screen and (max-width: 450px) {
       
        width: calc((100% - 4 * 5px) / 2);
        align-items: center;
        justify-content: center;
        margin: 5px;
        
        
    }
}