 .section {
     padding-top: 94px;
     padding-bottom: 94px;

}

.section__title {
    text-align: center;
    color: $h-color-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}