h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family: $fontPrimary;
    background-color: $main-bg;
    color: $main-text-color;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing:$letter-spacing;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}