$main-bg: #fff;
$second-bg: #2f303a;
$main-text-color: #757575;
$h-color-text: #212121;
$btn-and-accent: #2196f3;
$footer-contact: #ffffff99;
$btn-hover-primery: #188ce8;
$btn-portfolio-bgr: #f5f4fa;
$logo-heder: #000;
$border: #eeeeee;
$teams-bg: #f5f4fa;
$heder-border: #ececec;
$hero-bgr: #c4c4c4;
$icon-color: #afb1b8;
$cubik: cubic-bezier(0.4, 0, 0.2, 1);
$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Raleway', sans-serif;
$font-weight: 400;
$font-size: 14px;
$line-height: 1.71;
$letter-spacing: 0.03em;